{%- if section.settings.image != blank or section.blocks.size > 0 -%}
  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <style>
    #shopify-section-{{ section.id }} {
      --image-with-text-content-max-width: {% if section.settings.content_width == 'sm' %}430px{% elsif section.settings.content_width == 'md' %}780px{% else %}100%{% endif %};
    }
  </style>

  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <link rel="stylesheet" href="{{ 'image-with-text-custom.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'two-images-with-text.css' | asset_url }}" media="print" onload="this.media='all'">

  <div class="two-image-container-parent{% unless section.settings.remove_vertical_spacing %}section-spacing{% endunless %} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="{{ section.settings.background_type }}">
    {%- if section.settings.background_type == "background_image" -%}
      {{- section.settings.background_image | image_url: width: 502 | image_tag: loading: 'lazy', reveal-on-scroll: section.settings.reveal_on_scroll -}}
    {%- else -%}
      {{- section.settings.background_image | image_url: width: 662 | image_tag: loading: 'lazy', reveal-on-scroll: section.settings.reveal_on_scroll -}}
    {%- endif -%}
  </div>
  <div class="container container--{{ section.settings.content_width }} container--custom two-image-container">
      <image-with-text class="image-with-text {% if section.settings.image_position == 'end' %}image-with-text--reverse{% endif %}">
        <div class="second-content-wrapper">
          <div class="description">
            {%- if section.settings.description != blank -%}
              {{ section.settings.description }}
            {%- endif -%}
          </div>
          <div class="image-wrapper">
            {%- if section.settings.first_image != blank -%}
                <picture>
                
                {%- if section.settings.mobile_first_image != blank -%}
                      <source
                          media="(max-width: 767.98px)"
                          srcset="{{ section.settings.mobile_first_image | image_url: width: 160 }}"
                          width="160"
                      >
                  {%- endif -%}
                
                  {{- section.settings.first_image | image_url: width: 267 | image_tag: loading: 'lazy', reveal-on-scroll: section.settings.reveal_on_scroll -}}
                </picture>
            {%- else -%}
                {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
            {%- endif -%}
  
            {%- if section.settings.second_image != blank -%}
                <picture>
                
                {%- if section.settings.mobile_second_image != blank -%}
                      <source
                          media="(max-width: 767.98px)"
                          srcset="{{ section.settings.mobile_second_image | image_url: width: 160 }}"
                          width="160"
                      >
                  {%- endif -%}
                
                  {{- section.settings.second_image | image_url: width: 267 | image_tag: loading: 'lazy', reveal-on-scroll: section.settings.reveal_on_scroll -}}
                </picture>
            {%- else -%}
                {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
            {%- endif -%}
          </div>
        </div>

        <div class="prose text-center sm:text-start" style="max-width: {{ section.settings.prose_width }}px">
          <div class="custom-text">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'subheading' -%}
                  {%- if block.settings.text != blank -%}
                    <p class="small-headline" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
                  {%- endif -%}
  
                {%- when 'heading' -%}
                  {%- if block.settings.text != blank -%}
                    <h3 class="h3" {{ block.shopify_attributes }}>{{ block.settings.text }}</h3>
                  {%- endif -%}
  
                {%- when 'richtext' -%}
                  {%- if block.settings.content != blank -%}
                    <div {{ block.shopify_attributes }}>
                      {{- block.settings.content -}}
                    </div>
                  {%- endif -%}
  
                {%- when 'page' -%}
                  {%- if block.settings.page.content != blank -%}
                    <div {{ block.shopify_attributes }}>
                      {{- block.settings.page.content -}}
                    </div>
                  {%- endif -%}
  
                {%- when 'liquid' -%}
                  {%- if block.settings.liquid != blank -%}
                    <div {{ block.shopify_attributes }}>
                      {{- block.settings.liquid -}}
                    </div>
                  {%- endif -%}
  
                {%- when 'link' -%}
                  <a {% if block.settings.url %}href="{{ block.settings.url }}"{% endif %} class="link" {{ block.shopify_attributes }}>{{ block.settings.text | escape }}</a>
  
              {%- endcase -%}
            {%- endfor -%}
          </div>
          <div class="custom-button">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'button' -%}
                  {%- if block.settings.text != blank -%}
                    <a class="button" {% if block.settings.url %}href="{{ block.settings.url }}"{% endif %}>
                      
                      {%- if block.settings.icon != blank -%}
                        <img class="icon" src="{{ block.settings.icon | image_url: width: 15 }}" >                       
                      {%- endif -%} 
                      {%- if block.settings.icon_hover != blank -%}
                        <img class="icon-hover" src="{{ block.settings.icon_hover | image_url: width: 15 }}" >
                      {%- endif -%} 
                    <span class="button-text">{{ block.settings.text | escape }}</span>
                    </a>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </image-with-text>
    </div>
  </div>

{%- endif -%}

{% schema %}
{
  "name": "Two image with text",
  "class": "shopify-section--image-with-text",
  "tag": "section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "mobile_first_image",
      "label": "Mobile first image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second image"
    },
    {
      "type": "image_picker",
      "id": "mobile_second_image",
      "label": "Mobile second image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.image_with_text.image_position",
      "options": [
        {
          "value": "end",
          "label": "t:global.position.left"
        },
        {
          "value": "start",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "t:global.spacing.remove_vertical_spacing",
      "default": true
    },
    {
      "type": "range",
      "id": "prose_width",
      "min": 243,
      "max": 425,
      "step": 2,
      "unit": "px",
      "label": "Prose width",
      "default": 243
    },
     {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "background_image",
          "label": "Type 1"
        },
        {
          "value": "background_image type-2",
          "label": "Type 2"
        }
      ],
      "default": "background_image"
    },
    {
      "type": "select",
      "id": "button_postion_type",
      "label": "Button postion type",
      "options": [
        {
          "value": "background_image",
          "label": "Type 1"
        },
        {
          "value": "background_image type-2",
          "label": "Type 2"
        }
      ],
      "default": "background_image"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.image_with_text.blocks.subheading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_with_text.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.image_with_text.blocks.paragraph.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.image_with_text.blocks.page.name",
      "settings": [
        {	
          "type": "page",	
          "id": "page",	
          "label": "Page"	
        }	
      ]	
    },	
    {
      "type": "liquid",
      "name": "t:sections.image_with_text.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid",
          "default": "<p>Write custom Liquid code to include widget or dynamic code.</p>"	
        }	
      ]	
    },	
    {	
      "type": "link",
      "name": "t:sections.image_with_text.blocks.link.name",
      "settings": [
        {	
          "type": "text",	
          "id": "text",	
          "label": "t:global.text.text",
          "default": "Text"	
        },	
        {	
          "type": "url",	
          "id": "url",	
          "label": "t:global.text.link"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image_with_text.blocks.button.name",
      "settings": [
        {	
          "type": "select",	
          "id": "style",	
          "label": "t:global.text.style",
          "options": [	
            {	
              "value": "outline",	
              "label": "t:global.text.button_style_options.outline"
            },	
            {	
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            }	
          ],	
          "default": "solid"
        },	
        {	
          "type": "text",	
          "id": "text",	
          "label": "t:global.text.text",
          "default": "Button text"	
        },	
        {	
          "type": "url",	
          "id": "url",	
          "label": "t:global.text.link"
        },	
        {	
          "type": "color",	
          "id": "background",	
          "label": "t:global.colors.background"
        },	
        {	
          "type": "color",	
          "id": "text_color",	
          "label": "t:global.text.text"
        },
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "id": "icon_hover",
          "type": "image_picker",
          "label": "Icon hover"
        }
      ]	
    }
  ],
  "presets": [
    {
      "name": "Two images with text",
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "text": "Subheading"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Two images with text"
          }
        },
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}