{{ 'our-venues.css' | asset_url | stylesheet_tag }}
{%- assign blog = blogs[section.settings.blog] -%}
<div class="section-spacing section-spacing--tight">
  {%- if blog.articles_count == 0 -%}
    <div class="container container--xs">
      <div class="empty-state">
        <div class="prose">
          <h1 class="h4">{{ blog.title }}</h1>
          <p>{{ 'blog.general.empty_blog' | t }}</p>

          {%- assign button_content = 'blog.general.back_to_home' | t -%}
          {%- render 'button', content: button_content, href: routes.root_url -%}
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="container container--lg">
      <div class="section-stack">
        {%- if section.settings.show_blog_title or section.settings.show_tags and blog.tags.size > 0 -%}
          <div class="v-stack gap-5">
            {%- if section.settings.show_blog_title -%}
              <div class="section-header justify-self-center text-center">
                <div class="h-stack justify-center gap-4">
                  <h1 class="h2">{{ blog.title }}</h1>

                  {%- if section.settings.show_rss_feed -%}
                    <a href="{{ blog.url }}.atom" class="link-faded">
                      <span class="sr-only">{{ 'general.accessibility.rss_feed' | t }}</span>
                      {%- render 'icon' with 'rss', width: 12 -%}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}

            {%- if section.settings.show_tags and blog.tags.size > 0 -%}
              <div class="blog-tags-row">
                <ul class="blog-tags unstyled-list" role="list">
                  <li {% if current_tags.size > 0 %}class="link-faded"{% endif %}>
                    <a href="{{ blog.url }}"><input type="radio" onclick="window.open('{{ blog.url }}')">&nbsp;{{- 'blog.general.all_posts' | t -}}</a>
                  </li> |
                  {%- for tag in blog.all_tags -%}
                    {%- if current_tags contains tag -%}
                      <li class="link-active"><input type="radio">&nbsp;{{- tag | link_to_remove_tag: tag -}}</li>
                    {%- else -%}
                      <li class="link-faded"><input type="radio">&nbsp;{{- tag | link_to_tag: tag -}}</li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
               <div class="tag-mb">
                  <input id="blog-tag-click" type="checkbox" class="blog-tag-mb" /> 
                  <label for="blog-tag-click">Filter</label>
                  <ul class="blog-tag-item">
                    {%- for tag in blog.all_tags -%}
                      <li>{{- tag | link_to_tag: tag -}}</li>
                    {%- endfor -%}
                  </ul>
               </div>
               <div class="sort">
                  <input id="blog-click" type="checkbox" class="blog-sort" /> 
                  <label for="blog-click">Sort</label>
                  <ul class="blog-sort-item">
                    {%- for tag in blog.all_tags -%}
                      <li>{{- tag | link_to_tag: tag -}}</li>
                    {%- endfor -%}
                  </ul>
               </div>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        <div class="v-stack gap-8 sm:gap-12">
          {%- paginate blogs.blog.articles by section.settings.posts_per_page -%}
            <div class="blog-post-list" {% if settings.stagger_blog_posts_apparition %}reveal-on-scroll="true"{% endif %}>
              {%- for article in blog.articles -%} 
                {%- if article.metafields.custom.feature_post != true -%}
                  {%- render 'blog-post-card', article: article, blog: blog, show_category: section.settings.show_category, show_excerpt: section.settings.show_excerpt, show_read_more: section.settings.show_read_more, sizes: sizes -%}
                {%- endif -%}
              {%- endfor -%}
              {%- for article in blog.articles -%}  
                {%- if article.metafields.custom.feature_post == true -%}
                  <div class="blog-post-list-feature" {% if settings.stagger_blog_posts_apparition %}reveal-on-scroll="true"{% endif %}>                  
                    <div class="featured-blog-post group">
                      <a href="{{ article.url }}">
                        {%- capture sizes -%}(max-width: 1149px) 95vw, 1260px{%- endcapture -%}
                        <div class="prose-feature-row">
                          <div class="prose place-feature-text">
                            <p class="feature-tag">
                              {%- if article -%}
                                {{ article.tags }}
                              {%- endif -%}
                            </p>
                            <h3 class="feature-title">
                              {%- if article -%}
                                {{ article.title }}
                              {%- else -%}
                                {{- 'general.on_boarding.blog_post_title' | t -}}
                              {%- endif -%}
                            </h3>
    
                            {%- assign button_content = 'blog.general.read_more' | t -%}
                            {%- render 'button', type: 'button', content: button_content, background: section.settings.featured_blog_post_button_background, text_color: section.settings.featured_blog_post_button_text_color -%}
                          </div>
                          
                          {%- if article.image != blank -%}
                            <div class="prose place-feature-image">
                              {{- article.image | image_url: width: article.image.width | image_tag: loading: 'lazy', class: 'zoom-image group-hover:zoom' -}}
                            </div>
                          {%- endif -%}
                        </div>
                      </a>
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
              </div>
            {%- render 'pagination', paginate: paginate -%}
          {%- endpaginate -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Our Venues",
  "class": "shopify-section--main-blog",
  "tag": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "checkbox",
      "id": "show_blog_title",
      "label": "t:sections.main_blog.show_blog_title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rss_feed",
      "label": "t:sections.main_blog.show_rss",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.main_blog.show_tags",
      "default": true
    },
    {
      "type": "range",
      "id": "posts_per_page",
      "label": "t:sections.main_blog.blog_posts_per_page",
      "min": 3,
      "max": 50,
      "step": 1,
      "default": 10
    },
    {
      "type": "header",
      "content": "t:sections.main_blog.featured_blog_post_category",
      "info": "t:sections.main_blog.featured_blog_post_category_info"
    },
    {
      "type": "checkbox",
      "id": "feature_first_blog_post",
      "label": "t:sections.main_blog.feature_first_blog_post",
      "default": true
    },
    {
      "type": "color",
      "id": "featured_blog_post_text_color",
      "label": "t:global.colors.text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "featured_blog_post_button_background",
      "label": "t:global.colors.button_background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "featured_blog_post_button_text_color",
      "label": "t:global.colors.button_text",
      "default": "#1c1c1c"
    },
    {
      "type": "header",
      "content": "t:sections.main_blog.card_category"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "t:global.blog.show_category",
      "info": "t:global.blog.show_category_info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:global.blog.show_excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "t:global.blog.show_read_more",
      "default": true
    }
  ],
  "presets": [
      {
        "name": "Our Venues"
      }
    ]
}
{% endschema %}